html {
  font-family: Georgia, serif;
  color: #fff;
}

.btn {
  border-color: #97a49b;
  color: #efefef;
}

.content {
  background-color: #495562;
}

@media only screen and (min-width: 60em) {

  .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, rgba(17, 60, 0, 0), rgba(73, 85, 98, .9));
  }

  .max-height {
    max-height: 500px;
    background-color: #495562;
    position: relative;
    overflow: hidden;
  }
}
